
.main{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background:fixed;
    background-size: 1270px;
    background-image: url(roger.jpg);
}    

.judul{
    margin:85px;
    text-align:center;
    color:aliceblue;
    text-shadow: 20px;
}

.pembuka{
    padding:50px;
    margin:120px;
    display:flex;
    gap:70px;
}

.bingkaikonten{
    gap:80px;
    display: flex;
    justify-content:center;
}
.konten1{
    width: 270px;
    height: 400px;
    background-color:rgba(0,0,0,0.1);
    backdrop-filter: blur(100px);
    display: flex;
    justify-content:center;
    border-radius: 30px;
    border:1px solid rgba(0,0,0,0.4);
    border-style: inset;
}

.gambar1{
    margin:10px;
    border-radius: 25px;
}

.text{
    display: flex;
    justify-content:center;
    color: aliceblue;
}

.bingkaiart{
    display: flex;
    justify-content:center;
    align-items: center;
}
.art{
    margin:200px;
    display: flex;
    justify-content:center;
    align-items: center;
    width:780px;
    height:470px;
    background-color:rgba(255,192,203,0.8);
    border-radius: 30px;
}

.gambar2{
    margin:10px;
    border-radius: 25px;
}